* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.brand-logo {
    margin: 0.5rem;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    margin: 1rem;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 100ms ease-in-out;
}

.navbar-links li a:hover {
    color: #1DA1F2;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a  {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* ---------------------  END OF NAVBAR STYLES  --------------------- */

.opening-message-container {
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
}

.left-message-container {
    display: flex;
    width: 25%;
}

.about-intro {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 72px;
}

.easy-word {
    color: #1DA1F2;
}

.right-message-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.about-message {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-top: 45px;
    font-size: 36px;
}

.about-divider {
    margin-top: 19px;
    border: solid 2px #1DA1F2;
}

@media (max-width: 1100px) {
    .about-intro {
        font-size: 56px;
    }

    .about-message {
        font-size: 28px;
    }
}

@media (max-width: 795px) {
    .about-intro {
        font-size: 48px;
    }

    .about-message {
        font-size: 20px;
    }
}

@media (max-width: 710px) {
    .opening-message-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    .left-message-container {
        justify-content: center;
    }
}

/* ---------------------  END OF OPENING MESSAGE STYLES  --------------------- */

.login-signup-container {
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding: 50px;
    margin-top: 40px;
}

.signup-button {
    color: white;
    background-color: #1DA1F2;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 10px;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}

.signup-button:hover {
    background-color: #1682c5;
}

.login-divider {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

@media (max-width: 510px) {
    .signup-button {
        font-size: 12px;
    }

    .login-divider {
        font-size: 12px;
    }
}

/* ---------------------  END OF SIGN UP/LOG IN SECTION STYLES  --------------------- */

.consumer-message-container {
    display: flex;
    justify-content: center;
    /*margin-top: 160px;*/
    background-color: black;
    padding: 25px;
    flex-direction: column;
    align-items: center;
}

.left-message-container2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-message2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-top: 45px;
    font-size: 36px;
    color: white;
}

.right-message-container2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media (max-width: 1100px) {
    .about-message2 {
        font-size: 28px;
    }
}

@media (max-width: 795px) {
    .about-message2 {
        font-size: 20px;
    }
}

/* ---------------------  END OF CONSUMER MESSAGE SECTION STYLES  --------------------- */

.top-creators-container {
    padding: 55px;
}

.top-creators-header-container {
    text-align: center;
}

.top-creators {
    color: black;
    font-size: 72px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.row1-top-creators {
    display: flex;
    align-items: center;
    justify-content: center;
}

.creator-card {
    background-color: none;
    border-radius: 4px;
    padding: 25px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(46, 211, 240, 0.4) 0px 5px, rgba(46, 185, 240, 0.3) 0px 10px, rgba(46, 179, 240, 0.2) 0px 15px, rgba(46, 179, 240, 0.1) 0px 20px, rgba(46, 169, 240, 0.05) 0px 25px;
}

.creator-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    outline: solid 2px black;
}

.creator-pic img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.creator-info-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creator-name {
    margin: 15px;
}

.creator-twitter-link {
    color: black;
    text-decoration: none;
    font-size: 32px;
    transition: all 100ms ease-in-out;
}

.creator-twitter-link:hover {
    color: #1DA1F2;
}

.creator-subinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.creator-followers {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.creator-tags {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.analytics-info {
    display: flex;
    align-items: center;
    margin: 25px;
}

.analytics-followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.creator-analytics {
    color: black;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.arrow {
    color: rgb(0, 194, 0);
}

.creator-analytics-tag {
    color: black;
    margin-top: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.book-now {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-btn {
    color: #fff;
    background-color: #1DA1F2;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 10px;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.book-btn:hover {
    background-color: #1682c5;
}

.row2-top-creators {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px) {
    .top-creators {
        font-size: 56px;
    }
}

@media (max-width: 967px) {
    .creator-card {
        padding: 15px;
        margin: 25px;
    }

    .creator-pic {
        width: 90px;
        height: 90px;
    }

    .creator-twitter-link {
        font-size: 28px;
    }

    .creator-analytics {
        font-size: 28px;
    }
}

@media (max-width: 858px) {
    .row1-top-creators {
        flex-direction: column;
    }

    .row2-top-creators {
        flex-direction: column;
    }
}

@media (max-width: 795px) {
    .top-creators {
        font-size: 48px;
    }
}

/* ---------------------  END OF TOP CREATORS SECTION STYLES  --------------------- */

.trending-creators-container {
    background-color: black;
    padding: 55px;
}

.trending-creators {
    color: white;
    font-size: 72px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.search-container .input {
    border: 0;
    outline: none;
    color: black;
    font-weight: bold;
}

.search_wrap {
    width: 500px;
    margin: 30px auto;
}

.search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 60px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #1DA1F2;
    z-index: 1;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.search_wrap .search_box .btn:hover {
    background: #1682c5;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.search_wrap.search_wrap1 .search_box .btn {
    right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-container {
    display: flex;
    justify-content: center;
}

.dropdown {
    width: 150px;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #94949452 solid;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #1682c5 solid;
    box-shadow: 0 0 0.8em #1682c5;
}

.select:hover {
    background: #1DA1F2;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: black;
    border: 1px black solid;
    box-shadow: 0 0.5em 1em rgb(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: white;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #94949452;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}

.selected {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

ul li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

ul .active {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

@media (max-width: 1100px) {
    .trending-creators {
        font-size: 56px;
    }
}

@media (max-width: 875px) {
    .selected {
        font-size: 12px;
    }

    .menu {
        font-size: smaller;
    }

    .dropdown {
        margin: 0.5em;
    }
}

@media (max-width: 795px) {
    .trending-creators {
        font-size: 48px;
    }
}

@media (max-width: 625px) {
    .search_wrap {
        width: 250px;
    }

    .search_wrap .search_box {
        width: 250px;
    }

    .search_wrap {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .search_wrap .search_box {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

/* ---------------------  END OF SEARCH AND FILTERS SECTION STYLES  --------------------- */
